.purple {
    color: #c274c2;
}

.button1 {
    text-decoration: none;
    padding: 10px;
    margin: 0px 50px;
    color: white;
    background-color: #c274c2;
    border-radius: 15px;
    border: 5px solid white;
}

.button1:hover {
    border: 5px solid #e0cfe0;
    color: white;

}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 420px) {
    .header-box {
        flex-direction: column-reverse;

    }
}