.cardimg {
    background-color: #d6c2d6;

}

.cardimg img {
    height: 210px;
    width: 210px;
}

.start-practise-button {
    background-color: #c274c2;
    border: none;
    color: white;
    border-radius: 5px;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}