.header-bar {
    background-color: #c297c2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header a {
    padding: 10px;
    text-decoration: none;
}

.active {
    background-color: lightgrey;
    border-radius: 10%;
}

.nav-title {
    font-size: 200px;
}

.title1 {
    color: white;
    font-size: 25px;
}