.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 650px;
}

.quiz-card {
    margin: 20px 20%;
    border: 1px dotted gray;
    background-color: #D8BFD8;
    border-radius: 10px;
    min-height: 300px;
}

.title {
    font-size: 30px;
    padding: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}